language: python
dist: bionic
python:
  - 2.7
  - 3.6
  - 3.7
  - 3.8
  - 3.9
install:
  - pip install tox
  - pip install -q tox-travis
script:
    - tox

stages:
  - lint
  - test

jobs:
  include:
    - { stage: lint, env: TOXENV=flake8, python: 3.6 }
    - { stage: lint, env: TOXENV=doclint, python: 3.6 }
