Demo pages:
<ul>
    <li><a href="{% url 'home' %}">Index</a></li>
    <li><a href="{% url 'filled-form' %}">Filled form</a></li>
    <li><a href="{% url 'selectize' %}">[JS DEMO] Selectize</a></li>
    <li><a href="{% url 'selectize-multi' %}">[JS DEMO] Selectize w/ multi-selection</a></li>
    <li><a href="{% url 'select2' %}">[JS DEMO] Select2</a></li>
    <li><a href="{% url 'jquery-autocomplete' %}">[JS DEMO] JQuery Autocomplete</a></li>
    <li><a href="{% url 'typeahead' %}">[JS DEMO] Typeahead</a></li>
    <li><a href="{% url 'selectize-friendship' %}">[JS DEMO] Friendship form (multi-selection + models)</a></li>
    <li><a href="{% url 'selectize-model-friendship' %}">[JS DEMO] Friendship form (multi-selection + models with modelforms)</a></li>
</ul>
