{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/typeahead.css' %}">
{% endblock %}

{% block extra_body %}
        <script src="{% static 'js/jquery.js' %}" charset="utf-8"></script>
        <script src="{% static 'js/typeahead.js' %}" charset="utf-8"></script>
        <script type="text/javascript">
        $(function() {
            $('[data-agnocomplete]').each(function(index, input) {
                $(input).typeahead({
                    minLength: $(this).data("query-size")
                }, {
                    name: 'typeahead__' + $(input).attr('id'),
                    display: 'label',
                    source: new Bloodhound({
                        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
                        queryTokenizer: Bloodhound.tokenizers.whitespace,
                        remote: {
                            url: $(input).data('url') + '?q=' + '%QUERY',
                            wildcard: '%QUERY',
                            transform: function(data) {
                                return data.data;
                            }
                        }
                    })
                });
            });
        });
        </script>
{% endblock %}
